@import './styles/reset.scss';
@import './styles/theme.scss';
@import './styles/utilities.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
